/* index.css */

.tables-container {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
  }
  
  .category-header {
    background-color: #87cefa;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  .category-header h3 {
    color: #333;
    font-size: 18px;
  }
  
  button {
    background-color: #00b300;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #008000;
  }
  
  button:focus {
    outline: none;
  }
  
  .esg-table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
  }
  
  .esg-table th,
  .esg-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .esg-table th {
    background-color: #87cefa;
    color: #fff;
  }
  
  .esg-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .esg-table a {
    color: #00b300;
    text-decoration: none;
  }
  
  .esg-table a:hover {
    text-decoration: underline;
  }
  .node-color-box {
    border-radius: 3px; /* 圓角 */
    transition: transform 0.3s ease; /* 滑鼠懸停時的過渡效果 */
  }
  
  .node-color-box:hover {
    transform: scale(1.2); /* 懸停時稍微放大 */
  }
  