/* src/App.css */
.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc; /* 添加外框 */
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
