/* src/App.css */
.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #f0f0f0;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

/* src/components/Sidebar.css */
.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.backhome{
  bottom: 100%;
  width: 40px;
  height: 40px;
  border: #333;
  border-radius: 10px;
}
