.page-container {
  margin-top: 70px;
  /* 与 header 的高度匹配 */
  flex: 1;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px);
  /* 减去 header 高度 */
  overflow: auto;
}

.h1 {
  font-size: 40px;
}

.content {
  display: flex;
  flex: 1;
  /* 填充父容器剩餘空間 */
  gap: 20px;
  min-width: 800px;
  overflow: auto;
}

.vertical-layout {
  display: flex;
  flex-direction: column;
  gap: 0;
  flex: 1;
  width: 100%;
}

.ExpandableTable-container {
  margin-left: 5px;
  flex: 0 0 45%;
  /* 固定寬度為 45% */
  width: 45%;
  /* 確保寬度固定 */
  box-sizing: border-box;
  /* 計算寬度時包括 padding 和 border */
  overflow: visible;
  /* 允許內容展開，不限制滾動 */
}

.split-item {
  flex: 1;
  /* 平分剩餘空間 */
  min-width: 0;
  /* 防止內容超出 */
  display: flex;
  flex-direction: column;
}

/* 新增圖表容器的樣式 */
.chart-container {
  position: sticky; /* 使图表悬停 */
  top: 10px; /* 距离页面顶部 10px */
  margin-top: 1%;
  flex: 1;
  border: 2px solid #87cefa;
  border-radius: 8px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

